.TopBar {
    display: flex;
    width: 100%;
    justify-content: flex-start;
    margin-bottom: 1rem;
}

/* .Category {
    display: flex;
    flex-direction: column;
    margin: 0 2rem 0 2rem;
    width: 100%;
} */

.Sort *, .Filter * {
    margin: 5px 0 5px 0;
}

.tagHolder {
    display: flex;
    /* max-width: 50%; */
    flex-wrap: wrap;
}

.Filter {
    display: flex;
    flex-direction: column;
    margin: 0 2rem 0 2rem;
    max-width: 50%
}

.Sort {
    display: flex;
    flex-direction: column;
    margin: 0 2rem 0 4rem;
}

.Row {
    display: flex;
    max-width: 100%;
}

.Row * {
    margin: 0 5px 0 5px;
}